/*----------------------------------*\
                $Footer
\*----------------------------------*/


footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  color: white;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  color: white;
text-align: center;


}

footer img{
  height: 25px;
  width: 25px;
  padding-left: 5px;

}

footer a{
  text-align: center;
  align-content: center;
  color: white;
  text-decoration: none;
}
